//---Color Scheme

//First color scheme

$white:#fff;
$black:#000000;
$gray:#808080;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

/*$platinum:#E6E7E7;
$light-gray:#D1D1D1;

//Second color scheme

$fuzzy-wuzzy:#E56353;
$ruddy-pink:#D76C69;
$spanish-pink:#ECBCBA;

//Third color scheme

$eerie-black:#121619;
$raisin-black:#222323;
$nickel:#6C6E70;


//---Font family
$roboto: 'Roboto', serif;
$playfair: 'Playfair Display', serif;

//Font weight

$regular:400;
$light:300;
$black-italic:900;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//font style
$italic:italic;*/